body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0 ;
}


.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 30px;
    color: #343a40;
    text-align: center;
    margin-top: -10px;
}







form {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;

}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(110% - 170px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: calc(120% - 170px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-wrap: wrap;
}

.close {
    color: #ff0000;
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.close:hover,
.close:focus {
    color: rgb(255, 123, 123);
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    flex: 1 1 45%; /* Grow, shrink, basis */
    margin: 10px;
}

.form-group-full {
    flex: 1 1 100%;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    width: auto;
    padding: 10px 20px;
}
#openModalBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}
.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
}

#openModalBtn:hover {
    background-color: #3f8f43; 
}


.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.delete-button:hover {
    background-color: #c94444; 
}





.table-container {
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #c1c1c1;
}

th {
    background-color: #bf9819;
    color: white;
    text-align: center;
   
}