body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #555555;
}
.wrapper {
  width: 30%;
  background-color: rgb(198, 198, 198);
}
.btn-primary:hover {
  background-color: #a4841b;
}
.shadow-lg {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  margin-left: 140px;
  height: 100%;
  width: 1253px;
}
.fw-bold.text-uppercase {
  margin-top: 30px;
}

input[type="date"],
input[type="time"] {
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 10px;
}
.calendar{
  margin-bottom: 10px;
}
.filter{
margin-left: 10px;
font-weight: bold;
}
.filters{
  margin-left: 13px;
font-weight: bold;
}